---
export interface Props {
  title: string;
  description: string;
  canonical?: string;
  ogImage?: string;
  noindex?: boolean;
}

const { title, description, canonical, ogImage, noindex } = Astro.props;
---

<title>{title}</title>
<meta name="description" content={description} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
{ogImage && <meta property="og:image" content={ogImage} />}
{canonical && <link rel="canonical" href={canonical} />}
<meta property="og:type" content="website" />

{noindex && <meta name="robots" content="noindex, nofollow" />}


